* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
header{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
.logo {
  color: #333;
  font-size: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}
span {
  color: #830202ef;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: wheat;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i1 {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #3B5998;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #08c217;
}
.card .button {
  margin-bottom: 100px;
  background-color: white;
  color: #191919;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 40px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
